section {
    width: 1440px;
    height: 681px;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: 'Inter';
    
}

section h1 {
    width: 283px;
    height: 38px;
    margin-left: 100px;
    margin-top: 38px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;
}

section h1.meio {
    margin-top: 100px;
    margin-left: 579px;
}

/* Aqui começa o carrossel das caixas do section --------------------------------------------------------------- */

section .caixas-carrossel {
    display: flex;
    justify-content: center;
    gap: 12px;
}

section .caixas-carrossel span.caixa {
    width: 405px;
    height: 251px;
    display: flex;
    border-radius: 8px;
    background-color: #D8E3F2;
    /* border: 1px solid #ff02b7; */
}


/* Aqui termina o carrossel das caixas do section --------------------------------------------------------------- */

section .caixas-carrossel span.caixa .conteudo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

section .caixas-carrossel span.caixa .conteudo .desconto {
    width: 96px;
    height: 32px;
    border-radius: 8px;
    margin-left: 34px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7FF86;
    /* border: 1px solid #111111; */
}

section .caixas-carrossel span.caixa .conteudo .desconto p {
    width: 66px;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    color: #474747;
}

section .caixas-carrossel span.caixa .conteudo h1 {
    width: 172px;
    height: 72px;
    margin-left: 33px;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 1px;

}

section .caixas-carrossel span.caixa .conteudo button {
    width: 153px;
    height: 48px;
    margin-left: 33px;
    margin-bottom: 35px;
    /* margin-top: 20px; */
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #C92071;
    background-color: #F5F5F5;
}

section .caixas-carrossel span.caixa .imagem {
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: -47px;
    /* border: 1px solid #111111; */
}

section .caixas-carrossel span.caixa .imagem.n2 {
    margin-left: -39px;
}

section .caixas-carrossel span.caixa .imagem.n3 {
    margin-left: -23px;
}

/* Aqui começa o carrossel das circulos do section --------------------------------------------------------------- */


section .circulos-textos {
    width: 712px;
    height: 138px;
    margin-left: 364px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

section .circulos-textos .caixa-texto {
    width: 104px;
    height: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .circulos-textos .caixa-texto h1 {
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #474747;
}

section .circulos-textos .circulo {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}



/* Aqui termina o carrossel das circulos do section --------------------------------------------------------------- */