body {
    width: 1440px;
    height: 100vh;
    background-color: #00ffff;
}

section {
    background-color: #111111;
    height: 100vh;
}

/* Aqui começa as o header  ---------------------------------------------------------*/
header {
    width: 100%;
    height: 192px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    user-select: none;
}

/* Aqui é inicio o NAV do HEADER ---------------------------------------------------------- */

header nav ul {
    display: flex;
    border: 1px solid #2600ff;
}

/* Aqui é fim o NAV do HEADER ------------------------------------------------------------- */

/* Aqui é inicio da classe do HEADER ------------------------------------------------------------- */

header span.parte1 {
    display: flex;
}

header input {
    border: 1px solid #111111;
}

header .parte1 img {
    width: 33px;
    height: 44px;
    object-fit: contain;
}

header span .logo-nome {
    display: flex;
    width: 253px;
    border: 1px solid #66ff00;
}

/* Aqui é fim da classe do HEADER ------------------------------------------------------------- */


/* Aqui termina o header   ---------------------------------------------------------*/

footer .conteudo {
    display: flex;   
    justify-content: space-evenly;
    padding-top: 72px;
    /* padding-top: 72px;
    padding-right: 94px;
    padding-left: 100px;
    padding-bottom: 104px; */
    
}

/* Aqui começa o Footer  --------------------------------------------------------- */

footer {
    width: 100%;
    height: 454px;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1F1F1F;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

/* Primeiro Span do Footer  --------------------------------------------------------- */


footer span.grupo1 {
    width: 307px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

footer span .logo-nome {
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer span.grupo1 img {
    width: 33px;
    object-fit: contain;
    /* mix-blend-mode: color-   burn; */
    filter: invert(1);

}

footer span.grupo1 h1 {
    width: 212px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 36.3951px;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: #ffffff;
}

footer span.grupo1 p {
    color: #ffffff;
    width: 307px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

footer span.grupo1 i {
    width: 11px;
    height: 21px;
    color: #ffffff;
}

footer span.grupo1 ul {
    display: flex;
    gap: 35.08px;
    justify-content: center;
}

/* Fim do primeiro span do footer --------------------------------------------------------- */

/* Inicio do segundo Span categorias do footer -------------------------------------------  */

footer span.informacao {
    width: 135px;
    height: 278px;
    display: flex;
    flex-direction: column;
    border: 1px solid #66ff00;
    justify-content: space-between;
    
}

footer span.informacao ul {
    height: 228px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #2600ff;
}

footer .informacao h3 {
    width: 99px;
    height: 22px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #fbff00;
}

footer .informacao ul a {
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #ffffff;
}

/* Fim do segundo Span informações do footer ------------------------------------------------- */

/* Aqui inicia a terceira caixa de Span categorias ------------------------------------------  */

footer span.categorias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #66ff00;
}

footer span.categorias h3 {
    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 96px;
    height: 22px;
    color: #ffffff;
    
}

footer span.categorias ul {
    width: 96px;
    height: 190px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid #2600ff;
}

footer .categorias ul a {
    font-weight: 400;
    font-size: 16px; 
    line-height: 38px;
    color: #ffffff;
}

/* Aqui finaliza a terceira caixa de Span categorias ----------------------------------------- */
/* Aqui inicia a quarta caixa de Span Contatos ----------------------------------------- */
footer span.contatos {
    color: #ffffff;
    width: 233px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #66ff00;
    
}


/* Aqui finaliza a quarta caixa de Span Contatos ----------------------------------------- */

.linha{
   border-top: 1px solid #ffffff;
   width: 1240px;
   opacity: 30%;
   display: flex;
   
   align-self: center;
   
   
}

/* Aqui é os direitos autorais */

h6 {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

/* Aqui termina o Footer ----------------------------------------------------------------------*/