body {
    width: 1440px;
    height: 3744px;
}
/* Aqui começa as o header */
header {
    width: 100%;
    height: 192px;
    background-color: #000000;
}  

/* Aqui termina o header */

/* Aqui começa o Footer */

footer {
    width: 100%;
    height: 454px;
    background-color: #1F1F1F;
}

/* Aqui termina o Footer */